<h2>Rejestracja</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :phone %><br />
    <%= f.text_field :phone, autofocus: true%>
  </div>
    <div class="field">
    <%= f.label :date_of_birth %><br />
    <%= f.text_field :date_of_birth, autofocus: true%>
  </div>
  <div class="field">
    <%= f.label :role %><br />
    <%= f.hidden_field :role, autofocus: true, :value => 'user'%>
  </div>
  <div class="field">
    <%= f.hidden_field :money, autofocus: true, :value => 0 %>
  </div>
  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
