
<div class="form-container">
<%= form_with(model: event, local: true) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :artist, 'Event name' %>
    <%= form.text_field :artist, id: :event_artist, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :event_description, class: 'form-control'  %>
  </div>

  <div class="field">
    <%= form.label :price_low , 'Ticket price'%>
    <%= form.text_field :price_low, id: :event_price_low , class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.hidden_field :price_high, id: :event_price_high, :value => 0, class: 'form-control'  %>
  </div>
  <div class="field">
    <%= form.hidden_field :spots_sold, id: :event_spots_sold, :value => 0 , class: 'form-control'  %>
  </div>
  <div class="field">
    <%= form.label :event_date %>
    <%= form.text_field :event_date, id: :event_event_date , class: 'form-control' %>
  </div>
    <div class="field">
    <%= form.label :spots, "Spots available"%>
    <%= form.text_field :spots, id: :event_spots, class: 'form-control'  %>
  </div>
  <div class="field">
    <%= form.label :min_age, "Minimum age to buy"%>
    <%= form.text_field :min_age, id: :event_min_age, class: 'form-control'  %>
  </div>
    <div class="field">
    <%= form.label :sell_start_date%>
    <%= form.text_field :sell_start_date, id: :event_sell_start_date, class: 'form-control'  %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
</div>
