<h1> All Events</h1>
<table class="table">
  <thead>
    <tr>
      <th>Artist</th>
      <th>Event Date</th>
      <th>Sold</th>
      <th>Sell start date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
        <tr>
          <td><%= event.artist %></td>
          <td><%= event.event_date %></td>
          <td><%= event.spots_sold %>/<%= event.spots %></td>
          <td><%= event.sell_start_date %></td>
          <td><%= link_to 'Show', event %></td>
          <% if event.event_date >= Date.today && current_user != nil && current_user.role == 'admin' %>
            <td><%= link_to 'Edit', edit_event_path(event) %></td>
          <% else %>
            <td></td>
          <% end %>
        </tr>
    <% end %>
  </tbody>
</table>
<% if current_user != nil && current_user.role == 'admin'%>
<%= link_to 'Nowe ogłoszenie', new_event_path %>
<% end %>