
<p>
  <strong>Artist:</strong>
  <%= @event.artist %>
</p>
<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>
<p>
  <strong>Price:</strong>
  <% if @event.event_date == Date.today %>
    <%= @event.price_low*1.2 %>
  <% else %>
    <%= @event.price_low %>
  <% end %>
</p>
<p>
  <strong>Event date:</strong>
  <%= @event.event_date %>
</p>
<p>
  <strong>Spots pool:</strong>
  <%= @event.spots %> 
</p>
<p>
  <strong>Spots sold:</strong>
  <%= @event.spots_sold %> 
</p>
<p>
  <strong>Minimum age:</strong>
  <%= @event.min_age %> 
</p>
<p>
  <strong>Can be bought since:</strong>
  <%= @event.sell_start_date %> 
</p>
<%= link_to 'All events', events_path %>
<% if current_user != nil && current_user.role == 'admin'%>
   | <%= link_to 'Edit', edit_event_path(@event) %> 
<% end %>

<% if @event.sell_start_date <= Date.today && !current_user.nil? && current_user.date_of_birth <= @event.min_age.year.ago %>
  <% if @event.event_date > Date.today%>
    <%= render './tickets/form', ticket: Ticket.new(:event_id => @event.id, :user_id => current_user.id, :price => @event.price_low, :name => "justEmpty", :email_address => current_user.email, :phone => current_user.phone)%>
  <% end %>
  <% if @event.event_date == Date.today %>
    <%= render './tickets/form', ticket: Ticket.new(:event_id => @event.id, :user_id => current_user.id, :price => @event.price_low*1.2, :name => "justEmpty", :email_address => current_user.email, :phone => current_user.phone)%>
  <% end %>
<% end %>

<br><br>

<% if current_user != nil %>
  <%= render './tickets/list_tickets', tickets: Ticket.where(event_id: @event.id)%>
<% end %>
