<div class="form-container">
<%= form_with(model: ticket, local: true) do |form| %>
  <% if ticket.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ticket.errors.count, "error") %> prohibited this ticket from being saved:</h2>

      <ul>
      <% ticket.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :price, 'Price for ticket' %>
    <%= form.text_field :price, id: :ticket_price, :readonly => true, class: 'form-control'  %>
  </div>

  <div class="field">
    <%= form.label :email_address, 'Contact email' %>
    <%= form.text_field :email_address, id: :ticket_email_address, class: 'form-control'  %>
  </div>

  <div class="field">
    <%= form.label :phone, 'Contact phone' %>
    <%= form.text_field :phone, id: :ticket_phone, class: 'form-control'  %>
  </div>
  <div class="field">
    <%= form.label :amount %>
    <%= form.text_field :amount, id: :ticket_amount,  class: 'form-control'  %>
  </div>

  <div class="field">
    <%= form.hidden_field :event_id, id: :ticket_event_id%>
  </div>
  <div class="field">
    <%= form.hidden_field :user_id, id: :ticket_user_id%>
  </div>
  <div class="field">
    <%= form.hidden_field :name, id: :ticket_name %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
</div>
