<h1>Tickets</h1>

<table class="table">
  <thead>
    <tr>
      <th>Artist</th>
      <th>Event Date</th>
      <th>Bought by</th>
      <th>Amount </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% tickets.each do |ticket| %>
      <% if (current_user.role == 'admin' || ticket.user == current_user) %>
        <tr>
          <td><%= ticket.event.artist %></td>
          <td><%= ticket.event.event_date %></td>
          <td><%= ticket.user.email %></td>
          <td><%= ticket.amount %></td>
          <td><%= link_to 'Show', ticket %></td>
          <% if ticket.event.event_date >= Date.today %>
            <td><%= link_to 'Edit', edit_ticket_path(ticket) %></td>
            <% if (current_user.role == 'admin' && ticket.to_delete) %>
              <td><%= link_to 'Approve return', ticket, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% elsif  (current_user.role == 'admin' && !ticket.to_delete)%>
              <td><%= link_to 'Delete', ticket, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% end %>
            <% if ticket.user == current_user && current_user.role != 'admin' %>
              <td>
                <% if !ticket.to_delete %>
                  <%= link_to 'Return ticket', '/ticket/markForDelete/'+ticket.id.to_s, method: :post, data: { confirm: 'Are you sure?' } %>
                <% else %>
                  Processing return
                <% end %> 
              </td>
            <% end %>
          <% else %>
            <td/><td/>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>