<h1>Details</h1>
<div class="center">
<p>
  <strong>Event:</strong>
  <%= @ticket.event.artist %>
</p>
<p>
  <strong>Event description:</strong>
  <%= @ticket.event.description %>
</p>
<p>
  <strong>Event date:</strong>
  <%= @ticket.event.event_date %>
</p>
<p>
  <strong>Price:</strong>
  <%= @ticket.price %>
</p>
<p>
  <strong>Amount:</strong>
  <%= @ticket.amount %>
</p>
<p>
  <strong>Contact email address:</strong>
  <%= @ticket.email_address %>
</p>
<p>
  <strong>Contact phone number:</strong>
  <%= @ticket.phone %>
</p>
<% if @ticket.event.event_date >= Date.today %>
  <%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<% end %>
<%= link_to 'Event', @ticket.event %>
</div>