<!DOCTYPE html>
<html>
  <head>
    <title>Bilety</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<body>
  <div class="container">
  <p class="navbar-text pull-right ">
    <%= link_to 'Home', '/' %> | 
    <% if user_signed_in? %>
      Logged in as <strong><%= current_user.email %></strong> | 
      <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
      <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'
      %> | 
      <%= link_to "My tickets", tickets_path %> | 
      <%= current_user.money %>$ <%= link_to "More money", '/moremoney'%>
    <% else %>
      <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link' %> |
      <%= link_to "Login", new_user_session_path, :class => 'navbar-link' %>
    <% end %>
  </p>

  	<% if notice %>
		<p class="alert alert-success"><%= notice %></p>
	<% end %>
	<% if alert %>
		<p class="alert alert-danger"><%= alert %></p>
	<% end %>
</div>
    <%= yield %>
  </body>
</html>
